.header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: black;

  }
  
  .linkHeader {
    margin: 20px;
    cursor: pointer;
    transition: all 2s;
  }

  .linkHeader:hover{
    letter-spacing: 2rem;
  }
  