:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

}

.title {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 20px;
}

.active{
  color: aqua;
  margin: 20px;
  cursor: pointer;
  transition: all 2s; 
}

.linkHeader {
  margin: 20px;
  cursor: pointer;
  transition: all 2s;
}

.linkHeader:hover{
  letter-spacing: 2rem;
}

.imageBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.image{
  width: 40%;
}

.cell{
  width: 30%;
  height: 30%;
  padding: 25px;
  box-sizing: border-box;
}

.cellWin{
  width: 30%;
  height: 30%;
  padding: 25px;
  background-color: lime;
  box-sizing: border-box;
}
.symbol{
  font-size: 20px;
  font-weight: bold;
}

.symbolX {
  color: red;
}
.symbolO{
  color: blue;
}

.game {
  padding: 20px;
  box-sizing: border-box;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: black;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 16px;
  padding: 15px 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Century Gothic;
  font-weight: 700;
  color: white;
  transition: all 1s;
}
.btn:hover {
    text-decoration: none;
    transition: all .8s;
    font-weight: bolder;
    border: 3px solid black;
    color: black;
    background-color: white;
}
.btn:active {
  background-color: #1E1F1C;
  border: 2px solid white;
  color: white;
  border-radius: 15px;
}

.block{
  box-sizing: border-box;
  padding: 20px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gorizontal {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.page{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 20px;
}

.cellTwo{
  width: 20px;
  height: 20px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  margin-top: 20px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(19, 1fr); /* 19 столбцов равной ширины */
  grid-template-rows: repeat(19, 1fr); /* 19 строк равной высоты */
  gap: 1px; /* Расстояние между клетками */
}

.m-10{
  margin: 10px;
}

